<div class="section experience_section" id="experience">
  <div class="container cc-education">
    <h2 class="h4 mb-4 text-center title">Experience</h2>
    <div class="timeline-container">
      <div class="timeline">
        <!-- Timeline Block 1 (Left on large screens, right on smaller screens) -->
        <div
          class="timeline-block"
          data-aos="fade-up"
          data-aos-duration="1000"
          [attr.data-aos-delay]="600"
        >
          <div class="timeline-content">
            <h2 class="position h5">Software Engineer</h2>
            <h3 class="company">
              <a
                class="company_link"
                href="https://www.owp.csus.edu/"
                target="_blank"
                >Office of Water Programs</a
              >
            </h3>
            <p class="job-desc">
              Working as a Fullstack Developer at Office of Water Programs.
              Developed website for the State Water Board of California for the
              detection of PFAS in water using React, Material UI, and Tailwind
              CSS, improving user interface consistency.Created RESTful APIs in
              JSON format with Python, Flask, SQLAlchemy and utilized MSSQL
              server for efficient database operations.
            </p>
          </div>
          <div class="timeline-img">
            <div class="sprite research"></div>
          </div>
          <span class="date">oct 2023 - present</span>
        </div>

        <!-- Timeline Block 2 (Right on large screens, right on smaller screens) -->
        <div
          class="timeline-block"
          data-aos="fade-up"
          data-aos-duration="1000"
          [attr.data-aos-delay]="600"
        >
          <div class="timeline-content">
            <h2 class="position">Creative Technologist Co-op</h2>
            <h3 class="company"><a href="#">MullenLowe U.S.</a></h3>
            <p class="job-desc">
              Developed and maintained code for in-house and client websites.
              Tested front-end code in various browsers and mobile devices to
              ensure cross-browser compatibility and responsiveness.
            </p>
          </div>
          <div class="timeline-img">
            <div class="sprite co-op"></div>
          </div>
          <span class="date">July - Dec 2015</span>
        </div>
      </div>
    </div>
  </div>
</div>
