<div class="section experience_section" id="experience">
  <div class="container cc-education">
    <h2 class="h4 mb-4 text-center title">Experience</h2>
    <div class="timeline-container">
      <div class="timeline">
        <!-- Timeline Block 1 (Left on large screens, right on smaller screens) -->
        <div
          class="timeline-block"
          data-aos="fade-up"
          data-aos-duration="1000"
          [attr.data-aos-delay]="600"
        >
          <div class="timeline-img">
            <div class="sprite research"></div>
          </div>
          <div class="timeline-content-block">
            <div class="timeline-content">
              <h2 class="position h5">Software Engineer</h2>
              <h3 class="company">
                <a
                  class="company_link"
                  href="https://www.owp.csus.edu/"
                  target="_blank"
                  >Office of Water Programs</a
                >
              </h3>
              <ul class="job-desc">
                <li>
                  I am working as a Fullstack Developer at Office of Water
                  Programs.
                </li>
                <li>
                  Developed website for the State Water Board of California for
                  the detection of PFAS in water using React, Material UI, and
                  Tailwind CSS, improving user interface consistency.Created
                  RESTful APIs in JSON format with Python, Flask, SQLAlchemy and
                  utilized MSSQL server for efficient database operations.
                </li>
                <li>
                  Improved SQL Server join operations and boosted database query
                  efficiency by 60% through the implementation of indexes on
                  frequently queried columns, enhancing overall feature
                  performance.
                </li>
              </ul>
            </div>

            <span class="date">oct 2023 - present</span>
          </div>
        </div>

        <div
          class="timeline-block"
          data-aos="fade-up"
          data-aos-duration="1000"
          [attr.data-aos-delay]="600"
        >
          <div class="timeline-img">
            <div class="sprite research"></div>
          </div>
          <div class="timeline-content-block">
            <div class="timeline-content">
              <h2 class="position h5">
                Application Development Senior Analyst
              </h2>
              <h3 class="company">
                <a
                  class="company_link"
                  href="https://www.accenture.com/us-en"
                  target="_blank"
                  >Accenture</a
                >
              </h3>
              <ul class="job-desc">
                <li>
                  I led the development of Heineken Mexico frontend team playing
                  a pivotal role in Sprint Planning and estimation of User
                  stories following Agile Principles.
                </li>
                <li>
                  Mentored and guided 2 junior developers, performing thorough
                  code reviews to uphold best practices and coding standards.
                </li>
                <li>
                  Collaborated closely with product managers and key
                  stakeholders to define and prioritize project requirements,
                  driving alignment and execution for a development team of 7
                  members.
                </li>
              </ul>
            </div>

            <span class="date">Dec 2021 – May 2022</span>
          </div>
        </div>

        <div
          class="timeline-block"
          data-aos="fade-up"
          data-aos-duration="1000"
          [attr.data-aos-delay]="600"
        >
          <div class="timeline-img">
            <div class="sprite research"></div>
          </div>
          <div class="timeline-content-block">
            <div class="timeline-content">
              <h2 class="position h5">Digital Tech Developer Analyst</h2>
              <h3 class="company">
                <a
                  class="company_link"
                  href="https://www.accenture.com/us-en"
                  target="_blank"
                  >Accenture</a
                >
              </h3>
              <ul class="job-desc">
                <li>
                  I spearheaded the development of Single Page Applications
                  using HTML5, CSS3, and JavaScript, with expertise in Angular
                  and React frameworks.
                </li>
                <li>
                  Created a global stylesheet (colors, dropdowns, search
                  dropdowns, favorites, links, forms) for maintaining
                  consistency across pages of websites that led to a reduction
                  in duplication of code by 60% and improved code reuse.
                </li>
                <li>
                  Achieved a 50% boost in page speed by eliminating redundant
                  AJAX API calls, implementing lazy loading of images,
                  refactoring code, and compressing resources using tools like
                  Webpack.
                </li>
              </ul>
            </div>

            <span class="date">Nov 2020 – Dec 2021</span>
          </div>
        </div>

        <div
          class="timeline-block"
          data-aos="fade-up"
          data-aos-duration="1000"
          [attr.data-aos-delay]="600"
        >
          <div class="timeline-img">
            <div class="sprite research"></div>
          </div>
          <div class="timeline-content-block">
            <div class="timeline-content">
              <h2 class="position h5">Associate Software Engineer</h2>
              <h3 class="company">
                <a
                  class="company_link"
                  href="https://www.accenture.com/us-en"
                  target="_blank"
                  >Accenture</a
                >
              </h3>
              <ul class="job-desc">
                <li>
                  Developed MEAN and MERN applications during training,
                  enhancing skills in JavaScript frameworks and improving code
                  quality.
                </li>
                <li>
                  Implemented pages using JavaScript, jQuery, and AJAX calls to
                  APIs, improving user interaction and page load times.
                </li>
                <li>
                  Debugged code and pushed defect fixes, ensuring high
                  performance and reliability in the software.
                </li>
              </ul>
            </div>

            <span class="date">Nov 2018 – Nov 2020</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
