<div class="section experience_section" id="experience">
  <div class="container cc-education">
    <h2 class="h4 mb-4 title">Experience</h2>
    <div class="timeline-container">
      <div class="timeline">
        <!-- Timeline Block 1 (Left on large screens, right on smaller screens) -->
        <div
          class="timeline-block"
          data-aos="fade-up"
          data-aos-duration="1000"
          [attr.data-aos-delay]="600"
        >
          <div class="timeline-img">
            <div class="sprite research"></div>
          </div>
          <div class="timeline-content-block">
            <div class="timeline-content custom-box-shadow">
              <h2 class="position h5">Software Engineer</h2>
              <h3 class="company">
                <a
                  class="company_link text-primary text-hover"
                  href="https://www.owp.csus.edu/"
                  target="_blank"
                  >Office of Water Programs</a
                >
              </h3>
              <ul class="job-desc">
                <li>
                  I am working as a Fullstack Developer at Office of Water
                  Programs.
                </li>
                <li>
                  Developed website for the State Water Board of California for
                  the detection of PFAS in water using React, Material UI, and
                  Tailwind CSS, improving user interface consistency.Created
                  RESTful APIs in JSON format with Python, Flask, SQLAlchemy and
                  utilized MSSQL server for efficient database operations.
                </li>
                <li>
                  Improved SQL Server join operations and boosted database query
                  efficiency by 60% through the implementation of indexes on
                  frequently queried columns, enhancing overall feature
                  performance.
                </li>
              </ul>
              <ul class="list-none d-flex flex-wrap p-0 mb-3">
                <li class="tag text-primary mt-2 mr-2">JavaScript</li>
                <li class="tag text-primary mt-2 mr-2">React</li>
                <li class="tag text-primary mt-2 mr-2">Python</li>
                <li class="tag text-primary mt-2 mr-2">Flask</li>
                <li class="tag text-primary mt-2 mr-2">SQLAlchemy</li>
                <li class="tag text-primary mt-2 mr-2">MSSQL Server</li>
              </ul>
            </div>

            <span class="date text-primary">oct 2023 - present</span>
          </div>
        </div>

        <div
          class="timeline-block"
          data-aos="fade-up"
          data-aos-duration="1000"
          [attr.data-aos-delay]="600"
        >
          <div class="timeline-img">
            <div class="sprite research"></div>
          </div>
          <div class="timeline-content-block">
            <div class="timeline-content custom-box-shadow">
              <h2 class="position h5">
                Application Development Senior Analyst
              </h2>
              <h3 class="company">
                <a
                  class="company_link text-primary text-hover"
                  href="https://www.accenture.com/us-en"
                  target="_blank"
                  >Accenture</a
                >
              </h3>
              <ul class="job-desc">
                <li>
                  I led the development of Heineken Mexico frontend team playing
                  a pivotal role in Sprint Planning and estimation of User
                  stories following Agile Principles.
                </li>
                <li>
                  Mentored and guided 2 junior developers, performing thorough
                  code reviews to uphold best practices and coding standards.
                </li>
                <li>
                  Collaborated closely with product managers and key
                  stakeholders to define and prioritize project requirements,
                  driving alignment and execution for a development team of 7
                  members.
                </li>
              </ul>
              <ul class="list-none d-flex flex-wrap p-0 mb-3">
                <li class="tag text-primary mt-2 mr-2">Leadership</li>
                <li class="tag text-primary mt-2 mr-2">Code Review</li>
                <li class="tag text-primary mt-2 mr-2">Sprint Planning</li>
                <li class="tag text-primary mt-2 mr-2">Spartacus</li>
                <li class="tag text-primary mt-2 mr-2">Angular</li>
                <li class="tag text-primary mt-2 mr-2">KendoUI</li>
              </ul>
            </div>

            <span class="date text-primary">Dec 2021 – May 2022</span>
          </div>
        </div>

        <div
          class="timeline-block"
          data-aos="fade-up"
          data-aos-duration="1000"
          [attr.data-aos-delay]="600"
        >
          <div class="timeline-img">
            <div class="sprite research"></div>
          </div>
          <div class="timeline-content-block">
            <div class="timeline-content custom-box-shadow">
              <h2 class="position h5">Digital Tech Developer Analyst</h2>
              <h3 class="company">
                <a
                  class="company_link text-primary text-hover"
                  href="https://www.accenture.com/us-en"
                  target="_blank"
                  >Accenture</a
                >
              </h3>
              <ul class="job-desc">
                <li>
                  I spearheaded the development of Single Page Applications
                  using HTML5, CSS3, and JavaScript, with expertise in Angular
                  and React frameworks.
                </li>
                <li>
                  Created a global stylesheet (colors, dropdowns, search
                  dropdowns, favorites, links, forms) for maintaining
                  consistency across pages of websites that led to a reduction
                  in duplication of code by 60% and improved code reuse.
                </li>
                <li>
                  Achieved a 50% boost in page speed by eliminating redundant
                  AJAX API calls, implementing lazy loading of images,
                  refactoring code, and compressing resources using tools like
                  Webpack.
                </li>
              </ul>
              <ul class="list-none d-flex flex-wrap p-0 mb-3">
                <li class="tag text-primary mt-2 mr-2">JavaScript</li>
                <li class="tag text-primary mt-2 mr-2">Angular</li>
                <li class="tag text-primary mt-2 mr-2">Rxjs</li>
                <li class="tag text-primary mt-2 mr-2">Ajax</li>
                <li class="tag text-primary mt-2 mr-2">jQuery</li>
              </ul>
            </div>

            <span class="date text-primary">Nov 2020 – Dec 2021</span>
          </div>
        </div>

        <div
          class="timeline-block"
          data-aos="fade-up"
          data-aos-duration="1000"
          [attr.data-aos-delay]="600"
        >
          <div class="timeline-img">
            <div class="sprite research"></div>
          </div>
          <div class="timeline-content-block">
            <div class="timeline-content custom-box-shadow">
              <h2 class="position h5">Associate Software Engineer</h2>
              <h3 class="company">
                <a
                  class="company_link text-primary text-hover"
                  href="https://www.accenture.com/us-en"
                  target="_blank"
                  >Accenture</a
                >
              </h3>
              <ul class="job-desc">
                <li>
                  Developed MEAN and MERN applications during training,
                  enhancing skills in JavaScript frameworks and improving code
                  quality.
                </li>
                <li>
                  Implemented pages using JavaScript, jQuery, and AJAX calls to
                  APIs, improving user interaction and page load times.
                </li>
                <li>
                  Debugged code and pushed defect fixes, ensuring high
                  performance and reliability in the software.
                </li>
              </ul>
              <ul class="list-none d-flex flex-wrap p-0 mb-3">
                <li class="tag text-primary mt-2 mr-2">JavaScript</li>
                <li class="tag text-primary mt-2 mr-2">MERN</li>
                <li class="tag text-primary mt-2 mr-2">MEAN</li>
                <li class="tag text-primary mt-2 mr-2">HTML</li>
                <li class="tag text-primary mt-2 mr-2">CSS</li>
              </ul>
            </div>

            <span class="date text-primary">Nov 2018 – Nov 2020</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
