<div class="section" id="contact">
  <div
    class="cc-contact-information"
    [ngStyle]="{
      background: 'url(assets/images/contact.jpg)',
      'background-position': 'center'
    }"
  >
    <div class="background-blur"></div>
    <div class="background-overlay"></div>
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0 p-sm-3" data-aos="zoom-in">
              <div class="h4 text-center">
                Grab a Coffee and Let's Connect ☕
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form (ngSubmit)="sendEmail()" #f="ngForm">
                      <div class="p pb-3">
                        <strong>Feel free to contact me </strong>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group">
                            <span class="input-group-addon">
                              <i class="fa fa-user-circle"></i>
                            </span>
                            <input
                              class="form-control"
                              type="text"
                              name="name"
                              placeholder="Name"
                              [(ngModel)]="model.name"
                              #name="ngModel"
                              [ngClass]="{
                                'is-invalid': f.submitted && name.invalid
                              }"
                              required
                            />
                          </div>
                          <div
                            *ngIf="name.invalid && name.touched"
                            class="text-danger"
                          >
                            Name is required.
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group">
                            <span class="input-group-addon">
                              <i class="fa fa-file-text"></i>
                            </span>
                            <input
                              class="form-control"
                              type="text"
                              name="subject"
                              placeholder="Subject"
                              [(ngModel)]="model.subject"
                              #subject="ngModel"
                              [ngClass]="{
                                'is-invalid': f.submitted && subject.invalid
                              }"
                              required
                            />
                          </div>
                          <div
                            *ngIf="subject.invalid && subject.touched"
                            class="text-danger"
                          >
                            Subject is required.
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group">
                            <span class="input-group-addon">
                              <i class="fa fa-envelope"></i>
                            </span>
                            <input
                              class="form-control"
                              type="text"
                              name="email"
                              placeholder="E-mail"
                              [(ngModel)]="model.email"
                              #email="ngModel"
                              [ngClass]="{
                                'is-invalid': f.submitted && email.invalid
                              }"
                              pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                              required
                            />
                          </div>
                          <div
                            *ngIf="email.invalid && email.touched"
                            class="text-danger"
                          >
                            Enter Valid email-id
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                            <textarea
                              class="form-control"
                              name="message"
                              placeholder="Your Message"
                              [(ngModel)]="model.message"
                              #message="ngModel"
                              [ngClass]="{
                                'is-invalid': f.submitted && message.invalid
                              }"
                              required
                            ></textarea>
                          </div>
                          <div
                            *ngIf="message.invalid && message.touched"
                            class="text-danger"
                          >
                            Message is required.
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button
                            class="btn btn-primary"
                            [disabled]="f.invalid"
                            type="submit"
                          >
                            Send
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0">
                      <strong>Phone</strong>
                    </p>
                    <p class="pb-2">9167935988</p>
                    <p class="mb-0">
                      <strong>Email</strong>
                    </p>
                    <p>alekyapaladugu021@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="line" />
    <div class="row footer">
      <div class="col-8">
        All product names, logos, and brands are property of their respective
        owners.
      </div>
      <div class="col-4 text-right">Copyright © 2024 Alekya Paladugu</div>
    </div>
  </div>
</div>
