/* You can add global styles to this file, and also import other style files */
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
span {
  font-family: "Poppins", sans-serif !important;
}
.ngx-pagination {
  margin: 0 auto;
  text-align: center;
}

.ngx-pagination li {
  display: inline-block;
  font-size: 19px;
  font-weight: bold;
}

#projects {
  .carousel .carousel-inner {
    box-shadow: none !important;
    -webkit-box-shadow: none;
  }
}

.highlight {
  color: rgba(233 255 0 / 82%);
}
.highlight:hover {
  color: rgba(234, 255, 0, 0.952);
}
.highlight:focus {
  color: rgba(234, 255, 0, 0.952);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
