<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image intro-section" data-parallax="true"></div>
      <div class="container">
        <div class="content-center">
          <div class="intro">
            <h1
              class="heading intro-text"
              data-aos="fade-in"
              data-aos-duration="1000"
            >
              Hi, my name is
            </h1>

            <h2
              class="heading"
              data-aos="fade-in"
              data-aos-duration="1200"
              [attr.data-aos-delay]="300"
            >
              Alekya Paladugu
            </h2>
            <h2
              class="heading"
              data-aos="fade-in"
              data-aos-duration="1400"
              [attr.data-aos-delay]="500"
            >
              I build things for the web.
            </h2>

            <h3 class="heading">
              I'm a
              <span class="intro-text" id="typed-text"></span>
            </h3>

            <div class="profile-action-btns">
              <a
                class="btn btn-primary smooth-scroll mr-3"
                href="#contact"
                data-aos="zoom-in"
                data-aos="fade-in"
                data-aos-duration="1000"
                data-aos-anchor="data-aos-anchor"
                >Hire Me</a
              >
              <a
                class="btn btn-primary"
                href="{{ cvUrl }}"
                target="_blank"
                data-aos="fade-in"
                data-aos-duration="1000"
                data-aos="zoom-in"
                data-aos-anchor="data-aos-anchor"
                >Resume</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="social-icons">
        <a href="https://www.facebook.com/alekya.paladugu" target="_blank">
          <i class="fa fa-facebook icon-glow" style="font-size: 24px"></i>
        </a>

        <a
          href="https://www.instagram.com/alekya_paladugu/?hl=en"
          target="_blank"
        >
          <i class="fa fa-instagram icon-glow"></i>
        </a>
        <a href="https://www.linkedin.com/in/alekyapaladugu/" target="_blank">
          <i class="fa fa-linkedin icon-glow"></i>
        </a>
        <a href="https://github.com/alekyapaladugu" target="_blank">
          <i class="fa fa-github icon-glow"></i>
        </a>
      </div>
    </div>
  </div>
</div>
