<div
  class="container project-card"
  data-aos="fade-up"
  data-aos-delay="600"
  data-aos-duration="1000"
>
  <div class="h5">{{ project.title }}</div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div
        class="card-image"
        (mouseover)="showGitHubLink()"
        (mouseleave)="hideGitHubLink()"
        (click)="toggleGitHubLink()"
      >
        <img
          [src]="project.image"
          alt="{{ project.title }} image"
          class="project-image"
          [ngClass]="{ blurred: showGitHUb === true }"
        />
        <a
          *ngIf="showGitHUb === true"
          [href]="project.githubLink"
          target="_blank"
          class="github-link"
        >
          <img
            class="icon-img"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
            alt="project url icon"
          />
        </a>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <p class="project-desc">{{ project.description }}</p>
      <div class="tech-tags">
        <span
          *ngFor="let tech of project.technologies"
          class="tech-tag m-2 mb-1"
          [style.background-color]="tech.color"
          >{{ tech }}</span
        >
      </div>
    </div>
  </div>
</div>
