// .tag {
//   padding: 0 20px;
//   height: 30px;
//   width: fit-content;
//   font-size: 14px;
//   line-height: 30px;
//   border-radius: 25px;
//   background-color: blue;
//   color: white;
// }
// .card {
//   height: 100% !important;
//   display: flex;
// }
// .card .card-body {
//   flex-grow: 1;
//   display: flex;
//   flex-direction: column;
// }
// .modal-btn {
//   margin: 0 auto;
//   margin-bottom: 10px;
// }

// .project-card {
//   margin: 16px;
//   border-radius: 8px;
//   overflow: hidden;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//   transition: box-shadow 0.3s;

//   &:hover {
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
//   }

//   .card-content {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     padding: 16px;

//     @media (max-width: 768px) {
//       flex-direction: column;
//       align-items: flex-start;
//     }

//     .card-image {
//       position: relative;
//       margin-right: 16px;

//       .project-image {
//         max-width: 200px; /* Set max width for image */
//         height: auto;
//         border-radius: 8px;
//       }

//       &:hover .github-link {
//         display: block;
//       }
//     }

//     .card-info {
//       flex: 1; /* Allow this section to take remaining space */

//       h3 {
//         margin: 0 0 8px;
//       }

//       .tech-tags {
//         margin-top: 10px;
//       }
//     }
//   }
// }

.card-image {
  position: relative !important;
}
.tech-tag {
  padding: 2px 10px;
  height: 30px;
  width: fit-content;
  font-size: 14px;
  line-height: 30px;
  border-radius: 25px;
}
.project-card {
  padding-bottom: 60px;
}
.project-desc {
  text-align: justify;
}
.github-link {
  text-decoration: none;
  width: 50px;
  height: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-image {
  /* Adjust max-width as needed */
  border-radius: 8px;
  transition: filter 0.3s;
}
.blurred {
  filter: blur(3px); /* Adjust the blur amount as needed */
}
.icon-img {
  width: 60%;
}

@media (max-width: 768px) {
  .card-image {
    padding-bottom: 20px;
  }

  .github-link {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Shift to center */
  }
}
