.tag {
  padding: 0 20px;
  height: 30px;
  width: fit-content;
  font-size: 14px;
  line-height: 30px;
  border-radius: 25px;
  background-color: blue;
  color: white;
}
.card {
  height: 100% !important;
  display: flex;
}
.card .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.modal-btn {
  margin: 0 auto;
  margin-bottom: 10px;
}
