<div class="modal-header">
  <h2>{{ project.name }}</h2>
  <button
    type="button"
    class="close pull-right"
    (click)="bsModalRef.hide()"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <carousel [showIndicators]="false" style="box-shadow: none">
    <div
      *ngFor="let picture of project.pictures"
      style="display: block; width: 50%; height: 50%"
    >
      <slide>
        <img
          src="{{ picture }}"
          alt="project image slide"
          style="display: block; width: 100%; height: 100%"
        />
      </slide>
    </div>
  </carousel>
  <h3 class="mt-10">Description</h3>
  <p>{{ project.description }}</p>
  <p>
    You can find this project on Gihub
    <a href="{{ project.projectLink }}" target="_blank">here</a>
  </p>
  <br />
  <div class="d-flex flex-wrap">
    <div *ngFor="let tag of project.tags">
      <div class="tag m-2 mb-1" [style.background-color]="tag.color">
        {{ tag.toString() }}
      </div>
    </div>
  </div>
</div>
