<div class="section" id="education">
  <div
    class="education-info"
    [ngStyle]="{
      background: 'url(assets/images/education1.jpg)',
      'background-position': 'center'
    }"
  >
    <div class="background-blur"></div>
    <div class="background-overlay"></div>
    <div class="container cc-education">
      <div class="h4 mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div
            class="col-md-4 section-border"
            data-aos="fade-right"
            data-aos-offset="50"
            data-aos-duration="500"
          >
            <div class="card-body cc-education-header">
              <p>2022 - 2024</p>
              <div class="h5">Master of Science in Computer Science</div>
            </div>
          </div>
          <div
            class="col-md-8"
            data-aos="fade-left"
            data-aos-offset="50"
            data-aos-duration="500"
          >
            <div class="card-body">
              <a
                class="category h5"
                href="https://www.csus.edu/"
                target="_blank"
                >California State University - Sacramento</a
              >
              <ul class="edu-desc">
                <li>
                  Currently pursuing Master's in Computer Science with
                  <b>3.8 GPA</b>.
                </li>
                <li>
                  Worked as a <b>Teaching Assisstant</b> for courses: Data
                  Structures and Algorithms, DataBase Management Systems.
                </li>
                <li>
                  Worked as a <b>Student IT Technician</b> for Department of
                  Arts and Letters.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div
            class="col-md-4 section-border"
            data-aos="fade-right"
            data-aos-offset="50"
            data-aos-duration="500"
          >
            <div class="card-body cc-education-header">
              <p>2014 - 2018</p>
              <div class="h5">
                Bachelor of Technology in Information Technology
              </div>
            </div>
          </div>
          <div
            class="col-md-8"
            data-aos="fade-left"
            data-aos-offset="50"
            data-aos-duration="500"
          >
            <div class="card-body">
              <a
                class="category h5"
                href="https://jntuh.ac.in/"
                target="_blank"
              >
                Jawaharlal Nehru Technological University- Hyderabad
              </a>
              <ul class="edu-desc">
                <li>
                  Completed B.Tech in Information Technology with <b>71.9%</b>.
                </li>
                <li>
                  Won <b>First Prize</b> for paper presention in Virtual Reality
                  conducted in another university.
                </li>
                <li>
                  Volunteered for social organizations like
                  <b>Lead India, Street Cause</b>.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
