<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2022 - 2024</p>
            <div class="h5">Master's Degree</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Master of Science in Computer Science</div>
            <h4 class="category">California State University - Sacramento</h4>
            <ul>
              <li>
                Currently pursuing Master's in Computer Science with
                <b>3.8 GPA</b>.
              </li>
              <li>
                Worked as a <b>Teaching Assisstant</b> for courses: Data
                Structures and Algorithms, DataBase Management Systems.
              </li>
              <li>
                Worked as a <b>Student IT Technician</b> for Department of Arts
                and Letters.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2014 - 2018</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">
              Bachelor of Technology in Information Technology
            </div>
            <h4 class="category">
              Jawaharlal Nehru Technological University- Hyderabad
            </h4>
            <ul>
              <li>
                Completed B.Tech in Information Technology with <b>71.9%</b>.
              </li>
              <li>
                Won <b>First Prize</b> for paper presention in Virtual Reality
                conducted in another university.
              </li>
              <li>
                Volunteered for social organizations like
                <b>Lead India, Street Cause</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
