<div class="section about-section" id="about">
  <div class="container">
    <h2 class="h4 mb-4 title">About Me</h2>
    <div class="row mt-4">
      <div class="col-md-8">
        <p
          class="about-text"
          class="about-me-text"
          data-aos="fade-in"
          data-aos-duration="1000"
        >
          Hi, I am Alekya, a Computer Science master’s student at California
          State University, Sacramento, graduating in December 2024. I am
          <span class="highlight text-primary"
            >Actively seeking full-time opportunities in 2024.</span
          >
          With a solid foundation in computer science and 5 years of software
          development experience, my journey into web development began with a
          deep fascination for design and user interfaces.
        </p>
        <p
          class="about-text"
          class="about-me-text"
          data-aos="fade-in"
          data-aos-duration="1000"
        >
          I initially found myself captivated by how dynamic elements create
          engaging user experiences. This curiosity grew into a passion as I
          delved into frontend technologies like React and JavaScript, and
          expanded into backend development with Python and Flask.
        </p>
        <p
          class="about-text"
          class="about-me-text"
          data-aos="fade-in"
          data-aos-duration="1000"
        >
          Currently, I work as a
          <span class="highlight text-primary">Full Stack Developer</span> at
          the Office of Water Programs, where I craft solutions for
          environmental health. Previously, at Accenture, I was
          <span class="highlight text-primary"
            >Promoted to Application Development Senior Analyst</span
          >, gaining valuable experience in
          <span class="highlight text-primary">Managing Teams, </span>Sprint
          planning,
          <span class="highlight text-primary">Frontend Development </span>and
          <span class="highlight text-primary">Code Reviewing.</span>
          My combined expertise in leadership and development fuels my drive to
          build impactful web applications.
        </p>

        <p
          class="about-text"
          class="about-me-text"
          data-aos="fade-in"
          data-aos-duration="1000"
        >
          Here are a few technologies I’ve been working with recently:
        </p>
        <ul
          class="tech-list text-primary"
          data-aos="fade-in"
          data-aos-duration="1000"
        >
          <div>
            <li>JavaScript (ES6+)</li>
            <li>TypeScript</li>
            <li>React</li>
          </div>
          <div>
            <li>Python</li>
            <li>SQL Alchemy</li>
            <li>Microsoft SQL Server</li>
          </div>
        </ul>
      </div>
      <div class="col-md-4 profile-pic">
        <img src="assets/images/profile-pic.png" alt="Profile Image" />
      </div>
    </div>
  </div>
</div>
